<script lang="ts">
	import InstallCommand from './InstallCommand.svelte';
	import Logo from '$lib/components/app/misc/Logo.svelte';
	import './HeroBanner.css';
</script>

<section class="hero-banner flex flex-col items-center gap-12 md:gap-14 py-16 text-balance">
	<Logo  showName />

	<div class="flex flex-col items-center gap-6 text-center">
        # AI that lives on your computer. Open-source, private & always local.

		Run frontier AI entirely on your machine. No API keys, no telemetry, no limits. Own your
		models and conversation data.
	</div>

	<InstallCommand />
</section>
